# ===================================================================
# SERVER CONFIGURATION
# ===================================================================
PORT=4000
SHUTDOWN_TIMEOUT=10

# ===================================================================
# DATABASE CONFIGURATION
# ===================================================================
DATABASE_URL=

# ===================================================================
# CORS CONFIGURATION FOR API
# ===================================================================
FRONTEND_URLS=http://localhost:3000

# ===================================================================
# KAFKA CLUSTER CONFIGURATION
# ===================================================================
# Production cluster
KAFKA_PRODUCTION_CLUSTER=localhost:19092
KAFKA_PRODUCTION_PORT=19092
KAFKA_PRODUCTION_CONTAINER_NAME=kontext-kafka-production
KAFKA_PRODUCTION_VOLUME=kafka-production-data


# Analytics cluster
KAFKA_ANALYTICS_CLUSTER=localhost:29092
KAFKA_ANALYTICS_PORT=29092
KAFKA_ANALYTICS_CONTAINER_NAME=kontext-kafka-analytics
KAFKA_ANALYTICS_VOLUME=kafka-analytics-data

# ===================================================================
# DOCKER COMPOSE CONFIGURATION
# ===================================================================
# API Service
API_PORT=4000
API_CONTAINER_NAME=kontext-api
GIN_MODE=debug # 'release' in production

# Web Service
WEB_PORT=3000
WEB_CONTAINER_NAME=kontext-web
API_URL=http://api:4000
NODE_ENV=development

# ===================================================================
# REDPANDA CONFIGURATION
# ===================================================================
REDPANDA_VERSION=v25.1.5
